<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crowded Detection</title>
    <link rel="icon" href="static/G_STAS.png" type="image/png">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body class="bg-gray-100 flex flex-col min-h-screen">
    <!-- Header -->
    <header class="bg-white shadow-md">
        <div class="container mx-auto flex justify-between items-center p-4">
            <!-- Logo -->
            <div class="flex items-center">
                <img id="logo" src="{{ url_for('static', filename='stas.png') }}" alt="logo" class="h-10 mr-3">
            </div>
            <!-- NavBar -->
            <nav>
                <div>
                    <div class="ml-10 flex items-baseline space-x-4">
                        <a href="/download_excel" class="rounded-md px-3 py-2 text-sm font-medium text-blue-300 hover:bg-blue-700 hover:text-white">
                            Download Data
                        </a>
                        <button onclick="resetCount()" class="rounded-md px-3 py-2 text-sm font-medium text-red-300 hover:bg-red-700 hover:text-white">
                            Reset Count
                        </button>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <!-- Count -->
    <div class="container mx-auto p-4 flex-grow">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-6">
            <div class="bg-white shadow-md rounded-lg p-6">
                <h3 class="text-xl font-semibold">Entry Count</h3>
                <p class="text-2xl font-bold text-green-600" id="entry-count">0</p>
            </div>
            <div class="bg-white shadow-md rounded-lg p-6">
                <h3 class="text-xl font-semibold">Exit Count</h3>
                <p class="text-2xl font-bold text-red-600" id="exit-count">0</p>
            </div>
            <div class="bg-white shadow-md rounded-lg p-6">
                <h3 class="text-xl font-semibold">Visitor Current Count</h3>
                <p class="text-2xl font-bold text-blue-600" id="current-count">0</p>
            </div>
            <div class="bg-white shadow-md rounded-lg p-6">
                <h3 class="text-xl font-semibold">Time</h3>
                <p class="text-2xl font-bold text-purple-700" id="clock">00:00:00</p>
            </div>
        </div>
        <div class="flex flex-col md:flex-row gap-4">
            <!-- Live Video -->
            <div class="bg-white shadow-md rounded-lg p-4 mb-4 md:w-1/2">
                <h3 class="text-xl font-semibold text-center mb-4">Live Video</h3>
                <img src="{{ url_for('video_feed') }}" alt="Live Video Feed" class="w-full max-w-md mx-auto rounded-lg">
            </div>
            <!-- Chart -->
            <div class="bg-white shadow-md rounded-lg p-4 mb-4 md:w-1/2">
                <h3 class="text-xl font-semibold text-center mb-4">Visitor Chart</h3>
                <div class="relative w-full h-[300px]">
                    <canvas id="currentCountChart" class="w-full h-full"></canvas>
                </div>
            </div>            
        </div>      
    </div>
    <!-- Status -->
    <div class="bg-white shadow-md p-2">
        <h3 class="text-xl font-semibold text-center mb-4" id="status">Status: Normal</h3>
    </div>
</body>
</html>
